* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1d5991;
  width: 100%;
  height: 100%;
}
.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buttons a {
  text-decoration: none;
}
.buttons a button {
  border-radius: 3px;
  background: white;
  font-size: 19px;
  border: none;
  cursor: pointer;
  margin: 5px;
  outline: none;
  border-bottom: solid 2px rgb(124, 124, 235);
  width: 300px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.buttons a button:hover {
  background: rgb(221, 221, 221);
  transition: all 0.3s ease-in-out;
}
