* { margin: 0; padding: 0; }

#menu{
	background: #6fabd1; 
	border-bottom: 1px solid #fdfbfb; 
	height: 54px; 
	position: fixed;
	width: 100%; 
	top: 0px;
	margin: 0 auto;
	

 }
 #area-navegar {
	position: 10px;	
	margin: -90 auto;
	height: 50px;

 
 }
 
 #area-navegar a{
	 padding: 2px 10px;
	 color: black;
	text-decoration:none;
	 
	 
	 
 }
  
  #area-navegar a:hover{
	  background-color:#89ade8;
 
    border-bottom:3px solid #082e6e;
	  
	  
  }

 
 
 BODY{
    font-family: verdana;
	font-size: 15,5px;
}
div.img{
	position: 50px;
	width: 230px;
	height: 100px
}

div.img > img{width:74%; height: 45%}


.Respostas { display: inline-block; text-align: left; }

.btn{
	color: black;
	height:30px;
    border-radius:5px;
	width:170px;
	cursor: pointer;
	font-weight:600;
	 -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;

}
