table tr td {
  background: snow;
}

a:link,
a:visited {
  text-decoration: none;

  color: black;
}
a:hover {
  background: snow;
  color: red;
  text-decoration: snow;
  color: red;
}
a:active {
  text-decoration: none;
}
