/*Estilizando das caixas de entradas em css */
input[type=text]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid DeepSkyBlue;
    width:412px;
	outline: none
}

input[type=email]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid DeepSkyBlue;
    width:200px;
	outline: none
}

input[type=number]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid DeepSkyBlue;
    width:200px;
	outline: none
}

input[type=password]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid DeepSkyBlue;
    width:412px;
	outline: none
}

select{
		height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: Snow; 
    border:2px solid DeepSkyBlue;
    width:412px;
	outline: none
}
 
 input[type=submit]{
	height:30px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:7px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid DeepSkyBlue;
    width:170px;
	cursor: pointer;
	font-weight:600;

   
}
 /*Estilizando Do Link*/
a:link, a:visited {
	text-decoration: none;

	color:black
	}
a:hover {
	background: snow;
	color:SlateBlue;
	text-decoration: snow; 
	color: SlateBlue;
	}
a:active {
	text-decoration: none
	}












