input[type=email]{
	height:40px;
    border-radius:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:15px;
    box-shadow: 10px 10px 20px #555555;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid DeepSkyBlue;
    width:300px
}

input[type=password]{ 
	height:40px;
    border-radius:9px;
    -moz-border-radius:4px;
    -webkit-border-radius:15px;
    box-shadow: 10px 10px 20px #333333;    
    -moz-box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    background: snow; 
    border:2px solid DeepSkyBlue;
    width:300px
}


.btn{
    -webkit-border-radius:20px;
	border:9px DeepSkyBlue;
	width:200px;
	font-weight:600;
	padding:9px;
	cursor: pointer;
	font-size:13px;
	height:30px;
	 position:relative;
     top:10px;
     background: snow;   
}